*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*LAYOUT ELEMENTS*/

header{
  background-color: #AED8E4;
}
.container-head{
    width: 75%;
    margin: 0 auto;  
    padding: 12.5px;  
}
.row{ 
    display: flex;
    flex-wrap: wrap;
}
.col25{
    width: 25%;
    border: 2px dotted black;
    background-color: #E1A21F;
    padding: 7.5px 10px;
}
.col50{
    width: 50%;
    border: 2px dotted black;
    padding: 5px;
    background-color: #E1A21F;
    text-align: center;
}

.txt-end{
    text-align: right;
}

li{
    display: inline-block;
    margin: 2.5px;
    list-style: none;
}

.bg-blue{
    background-color: #01008A;
}

.container-sm{
    width: 60%;
}
